<%- include("partials/header") -%>
<% var h=0;%>
<% var r=0;%>

<% posts.forEach(function(post) { %>
<%if(post.class=="headline"){%>
          <table class="table1">
	<%h=h+1;%>
				<div class="container headline">
					<%if(h==1){%><tr>
<h3>Trending In VIT</h1><br>
  <%}%></tr><td>
	<h4><%=post.title%></h3>
<p><%= post.content.substring(0,100) %>
<%if(post.length>=100){%>

		<a href="/posts/<%= post._id %>">"..."+Read More</a><%}%></td>

			</div>

</table>
<%}%>
		<% if (post.class == "rumour" ) { %>
<table class="table2">

				<%r=r+1;%>
				<div class= "container rumour">
					<% if(r==1) { %>
						<tr>
<h3>You Definitely Don't Wanna Believe This</h1><br>
<%}%></tr><td>
		<h4><%=post.title%></h3>
	<p><%= post.content.substring(0,100) %></p>
<%if(post.length>=100){%>

			<a href="/posts/<%= post._id %>">"..."+Read More</a><%}%></td>


			</div>
				</table><%}%>
				<%});%>
<%- include("partials/footer") -%>
